@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}


/* Light Theme */
:root {
    --theme-bg: #ffffff;
    --theme-text: #000000;
    --theme-accent: #2563eb;
    /* blue-600 */
    --theme-card: #f3f4f6;
    /* gray-100 */
}

/* Dark Theme */
.dark {
    --theme-bg: #000000;
    --theme-text: #d1d5db;
    /* gray-300 */
    --theme-accent: #2563eb;
    /* blue-600 */
    --theme-card: rgba(37, 99, 235, 0.2);
}

/* Blue Theme */
.blue-theme {
    --theme-bg: #e8f0ff;
    --theme-text: #1e3a8a;
    --theme-accent: #1d4ed8;
    --theme-card: #dbeafe;
}

/* Purple Theme */
.purple-theme {
    --theme-bg: #f3e8ff;
    --theme-text: #6b21a8;
    --theme-accent: #7e22ce;
    --theme-card: #e9d5ff;
}


/* Utility classes to replace Tailwind's default colors */
.bg-themeBg {
    background-color: var(--theme-bg) !important;
}

.text-themeText {
    color: var(--theme-text) !important;
}

.text-themeAccent {
    color: var(--theme-accent) !important;
}

.bg-themeCard {
    background-color: var(--theme-card) !important;
}

.border-themeAccent {
    border-color: var(--theme-accent) !important;
}

/* For hover states */
.hover-themeAccent:hover {
    color: var(--theme-accent) !important;
}

.hover-bg-themeAccent:hover {
    background-color: var(--theme-accent) !important;
}

/* Button accent */
.bg-themeAccent {
    background-color: var(--theme-accent) !important;
}

.hover-bg-themeAccent:hover {
    background-color: var(--theme-accent) !important;
    opacity: 0.9;
}